@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
  overflow-x: hidden;
  background-color: #EEBECE;
}



/* Start Override Swiper Button */
.swiper-button-next {
  background-image: url('./assets/svg/shape/arrow__right.svg');
  background-color: rgba(255, 255, 255, 0.5);
}

.swiper-button-next:hover {
  background-image: url('./assets/svg/shape/arrow__right.svg');
  background-color: rgba(189, 189, 189, 0.5);
  }

.swiper-button-next::after {
  content: '' !important;
}

.swiper-button-prev {
  background-image: url('./assets/svg/shape/arrow__left.svg');
  background-color: rgba(189, 189, 189, 0.5);
}

.swiper-button-prev:hover {
  background-color: rgba(189, 189, 189, 1);
}

.swiper-button-prev::after {
  content: '' !important;
}

.swiper-button-next,
.swiper-button-prev {
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  height: 32px !important;
  width: 32px !important;
  padding: 7px;
  border-radius: 100% !important;
  backdrop-filter: blur(1rem);
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  transition: .3s;
}
/* End Override Swiper Button */

